<!-- <div class="card-header">
  <div class="container">
    <strong>Task List</strong>
    <button type="button" style="float: right" class="btn btn-primary" (click)="add()" >
    Add new
  </button>
  </div>
</div> -->
<div class="row">
  <div>
    <button type="button" style="float: right; width: 150px;" class="btn btn-primary" (click)="add()" >
  Add new
  </button>
  </div>

  <div class="col-4">
    <h4>Khởi tạo</h4>
    <div class="row">
      <div class="col" *ngFor="let item of taskNew; let i = index">
        <div class="cards">
          <div class="card card1">
            <div class="noi-dung">
              <h3>{{item.username}}-{{item.name}}</h3>
              <p>{{item.description}}</p>
              <button class="btn1">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <h4>Đang làm</h4>
    <div class="row">
      <div class="col" *ngFor="let item of taskContinue; let i = index">
        <div class="cards">
          <div class="card card1">
            <div class="noi-dung">
              <h3>{{item.username}}-{{item.name}}</h3>
              <p>{{item.description}}</p>
              <button class="btn2">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <h4>Kết thúc</h4>
    <div class="row">
      <div class="col" *ngFor="let item of taskEnd; let i = index">
        <div class="cards">
          <div class="card card1">
            <div class="noi-dung">
              <h3>{{item.username}}-{{item.name}}</h3>
              <p>{{item.description}}</p>
              <button class="btn3">End</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>