<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>User List</strong>
      <button type="button" style="float: right" class="btn btn-primary" (click)="add()"
       data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add new
  </button>
    </div>
    <div class="card-body">

      <!-- User Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>
                <button class="btn btn-primary mr-2" data-bs-toggle="modal" (click)="edit(item,i)" data-bs-target="#exampleModal1">Edit</button>
                <button style="margin-left: 3px" class="btn btn-danger " (click)="delete(i)">Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="addForm" tabindex="-1">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="mb-3">
              <label for="id" class="form-label">User ID</label>
              <input type="text" [(ngModel)]="user.id" class="form-control" id="id" placeholder="User id">
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">User Name</label>
              <input type="text" [(ngModel)]="user.name" class="form-control" id="name" placeholder="User name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" [(ngModel)]="user.email" class="form-control" id="email" placeholder="Email">
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="checkUserExit === 0"  type="button" class="btn btn-primary" (click)="save()">Save changes</button>
          <button  *ngIf="checkUserExit === 1 || checkUserExit === 2"  type="button" data-bs-dismiss="modal"
          class="btn btn-primary ml-2" (click)="save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="editForm">
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="mb-3">
              <label for="id" class="form-label">User ID</label>
              <input type="text" [(ngModel)]="userEidt.id" class="form-control" id="id" placeholder="User id">
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">User Name</label>
              <input type="text" [(ngModel)]="userEidt.name" class="form-control" id="name" placeholder="User name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" [(ngModel)]="userEidt.email" class="form-control" id="email" placeholder="Email">
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveEdit()" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>